# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Local development settings
.idea/
*.iml
*.ipr
*.iws
*.bak
*.swp
*.swo
*.pydevproject
venv/

# Miscellaneous
*.log
*.bak
.DS_Store
